In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [4]:
# Add the Pandas dependency
import pandas as pd

In [5]:
# Create a pandas series from a list
school_series = pd.Series(high_schools)
school_series

for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [6]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [7]:
school_df = pd.DataFrame(high_schools_dicts)
school_df

NameError: name 'high_schools_dicts' is not defined

In [8]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [10]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

In [11]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [12]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [18]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [19]:
high_schools_dict_df = pd.DataFrame(high_schools_dict)
high_schools_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [15]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [16]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [20]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [21]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [22]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [23]:
lst_col = 'samples'

r = pd.DataFrame({
      col:np.repeat(df[col].values, df[lst_col].str.len())
      for col in df.columns.drop(lst_col)}
    ).assign(**{lst_col:np.concatenate(df[lst_col].values)})[df.columns]

NameError: name 'df' is not defined

In [24]:
lst_col = 'samples'

r = pd.DataFrame({
      col:np.repeat(df[col].values, school_df[lst_col].str.len())
      for col in df.columns.drop(lst_col)}
    ).assign(**{lst_col:np.concatenate(school_df[lst_col].values)})[df.columns]

NameError: name 'df' is not defined

In [25]:
lst_col = 'samples'

r = pd.DataFrame({
      col:np.repeat(school_df[col].values, school_df[lst_col].str.len())
      for col in school_df.columns.drop(lst_col)}
    ).assign(**{lst_col:np.concatenate(school_df[lst_col].values)})[school_df.columns]
# Code from stack overflow https://stackoverflow.com/questions/27263805/pandas-column-of-lists-create-a-row-for-each-list-element

KeyError: "['samples'] not found in axis"

In [26]:
lst_col = 'type'

r = pd.DataFrame({
      col:np.repeat(school_df[col].values, school_df[lst_col].str.len())
      for col in school_df.columns.drop(lst_col)}
    ).assign(**{lst_col:np.concatenate(school_df[lst_col].values)})[school_df.columns]
# Code from stack overflow https://stackoverflow.com/questions/27263805/pandas-column-of-lists-create-a-row-for-each-list-element

NameError: name 'np' is not defined

In [27]:
lst_col = 'School ID'

r = pd.DataFrame({
      col:np.repeat(school_df[col].values, school_df[lst_col].str.len())
      for col in school_df.columns.drop(lst_col)}
    ).assign(**{lst_col:np.concatenate(school_df[lst_col].values)})[school_df.columns]
# Code from stack overflow https://stackoverflow.com/questions/27263805/pandas-column-of-lists-create-a-row-for-each-list-element

NameError: name 'np' is not defined

In [30]:
lst_col = 'type'

r = pd.DataFrame({
(school_df[col].values, school_df[lst_col].str.len())
      for col in school_df.columns.drop(lst_col)}
    ).assign(**{lst_col:np.concatenate(school_df[lst_col].values)})[school_df.columns]
# Code from stack overflow https://stackoverflow.com/questions/27263805/pandas-column-of-lists-create-a-row-for-each-list-element

TypeError: unhashable type: 'numpy.ndarray'